
<div>cantidad jugadores: <%=@cantidadAutosParametro%></div>

<form method='post' action='/simulacion'>
    <% if @cantidadAutosParametro >= 1 %>
        Auto 1
        <input type="text" name="nombre1" value="auto 1">
        <label>ingresar coordenada X:</label><input type='text' name='posicionActualX1' value="0">
        <label>ingresar coordenada Y:</label><input type='text' name='posicionActualY1'value="0">
        <label>ingresar orientacion:</label><input type='text' name='orientacionNueva1'value="Este">
    <% end %>

    <% if @cantidadAutosParametro >= 2 %>
    <div >
        Auto 2
        <input type="text" name="nombre2" value="auto 2">
        <label>ingresar coordenada X:</label><input type='text' name='posicionActualX2'value="0">
        <label>ingresar coordenada Y:</label><input type='text' name='posicionActualY2'value="1">
        <label>ingresar orientacion:</label><input type='text' name='orientacionNueva2'value="Este">
    </div>
    <% end %>

    <% if @cantidadAutosParametro >= 3 %>
    <div >
        Auto 3
        <input type="text" name="nombre3" value="auto 3">
        <label>ingresar coordenada X:</label><input type='text' name='posicionActualX3'value="0">
        <label>ingresar coordenada Y:</label><input type='text' name='posicionActualY3'value="2">
        <label>ingresar orientacion:</label><input type='text' name='orientacionNueva3'value="Este">
    </div>
    <% end %>

    <% if @cantidadAutosParametro >= 4 %>
    <div>
        Auto 4
        <input type="text" name="nombre4" value="auto 4">
        <label>ingresar coordenada X:</label><input type='text' name='posicionActualX4'value="0">
        <label>ingresar coordenada Y:</label><input type='text' name='posicionActualY4'value="3">
        <label>ingresar orientacion:</label><input type='text' name='orientacionNueva4'value="Este">
    </div>
    <% end %>

    <% if @cantidadAutosParametro >= 5 %>
    <div>
        Auto 5
        <input type="text" name="nombre5" value="auto 5">
        <label>ingresar coordenada X:</label><input type='text' name='posicionActualX5'value="0">
        <label>ingresar coordenada Y:</label><input type='text' name='posicionActualY5'value="4">
        <label>ingresar orientacion:</label><input type='text' name='orientacionNueva5'value="Este">
    </div>
    <% end %>

   <input type="submit" value="aceptar">
</form>