

<form method='post' action='/simulacion'>
    <% if @cantidadAutosParametro >= 1 %>
        Auto 1
        <input type="text" name="nombre1" value="auto 1">
        <label>ingresar coordenada X:</label><input type='text' name='posicionActualX1'>
        <label>ingresar coordenada Y:</label><input type='text' name='posicionActualY1'>
        <label>ingresar orientacion:</label><input type='text' name='orientacionActual1'>
        <%# <select name="orientacionActual1">
            <option value="Este" selected>Este</option> 
            <option value="Norte" >Norte</option>
            <option value="Oeste">Oeste</option>
            <option value="Sur">Sur</option>
        </select> %>
    <% end %>

    <% if @cantidadAutosParametro >= 2 %>
    <div >
        Auto 2
        <input type="text" name="nombre2" value="auto 2">
        <label>ingresar coordenada X:</label><input type='text' name='posicionActualX2'>
        <label>ingresar coordenada Y:</label><input type='text' name='posicionActualY2'>
        <label>ingresar orientacion:</label><input type='text' name='orientacionActual2'>
        <%# <select name="orientacionActual2">
            <option value="Este" selected>Este</option> 
            <option value="Norte" >Norte</option>
            <option value="Oeste">Oeste</option>
            <option value="Sur">Sur</option>
        </select> %>
    </div>
    <% end %>

    <% if @cantidadAutosParametro >= 3 %>
    <div >
        Auto 3
        <input type="text" name="nombre3" value="auto 3">
        <label>ingresar coordenada X:</label><input type='text' name='posicionActualX3'>
        <label>ingresar coordenada Y:</label><input type='text' name='posicionActualY3'>
        <label>ingresar orientacion:</label><input type='text' name='orientacionActual3'>
        <%# <select name="orientacionActual3">
            <option value="Este" selected>Este</option> 
            <option value="Norte" >Norte</option>
            <option value="Oeste">Oeste</option>
            <option value="Sur">Sur</option>
        </select> %>
    </div>
    <% end %>

    <% if @cantidadAutosParametro >= 4 %>
    <div>
        Auto 4
        <input type="text" name="nombre4" value="auto 4">
        <label>ingresar coordenada X:</label><input type='text' name='posicionActualX4'>
        <label>ingresar coordenada Y:</label><input type='text' name='posicionActualY4'>
        <label>ingresar orientacion:</label><input type='text' name='orientacionActual4'>
        <%# <select name="orientacionActual4">
            <option value="Este" selected>Este</option> 
            <option value="Norte" >Norte</option>
            <option value="Oeste">Oeste</option>
            <option value="Sur">Sur</option>
        </select> %>
    </div>
    <% end %>

    <% if @cantidadAutosParametro >= 5 %>
    <div>
        Auto 5
        <input type="text" name="nombre5" value="auto 5">
        <label>ingresar coordenada X:</label><input type='text' name='posicionActualX5'>
        <label>ingresar coordenada Y:</label><input type='text' name='posicionActualY5'>
        <label>ingresar orientacion:</label><input type='text' name='orientacionActual5'>
        <%# <select name="orientacionActual5">
            <option value="Este" selected>Este</option> 
            <option value="Norte" >Norte</option>
            <option value="Oeste">Oeste</option>
            <option value="Sur">Sur</option>
        </select> %>
    </div>
    <% end %>

   <input type="submit" value="aceptar">
</form>