
<h1> bienvenido jugador <%=@nombre%> </h1>

<form method='post' action='/simulacion'>
    <label>ingresar altura:</label><input type='text'  name='altura'>       
    <label>ingresar ancho:</label><input type='text' name='ancho'>
    <label>ingresar coordenada X:</label><input type='text' name='posicionActualX'>
    <label>ingresar coordenada Y:</label><input type='text' name='posicionActualY'>
   <label>ingresar orientacion:</label>
   <select name="orientacionActual">
        <option value="Este">Este</option> 
        <option value="Norte" selected>Norte</option>
        <option value="Oeste">Oeste</option>
        <option value="Sur">Sur</option>
    </select>
   <input type="submit" value="aceptar">
</form>