<div>Bienvenido a cuentas</div>
<div>Balance actual: <%=@balance%> </div>
<form method='post' action='/ingresar'>
   <div>Monto: <input type='text' name='monto'></div>
   <div><input type='submit' value='ingresar'></div>
</form>

<form method='post' action='/retirar'>
   <div>Monto: <input type='text' name='retiro'></div>
   <div><input type='submit' value='retirar_btn'></div>
</form>

