<!DOCTYPE html>
<html>
<head>

    <title>Page Title</title>

    <script src="mover.js"></script>
    <link rel="stylesheet" type="text/css"  href="auto.css" />

</head>
    <body>
      <h1> posisicon del auto </h1>
      <form method='post' action='/posicion'>
           ingresar x:<input type='text' name='pX'>
           ingresar y:<input type='text' name='pY'>
           <input type="submit" value="iniciar">
      </form>
    </body>
</html>