<!DOCTYPE html>
<html>
<head>

    <title>Page Title</title>

    <script src="mover.js"></script>
    <link rel="stylesheet" type="text/css"  href="auto.css" />

</head>
    <body>
      <h1> tamaño de tablero </h1>
      <form method='post' action='/tamaño'>
           ingresar altura:<input type='text' name='altura'>
           ingresar ancho:<input type='text' name='ancho'>
           <input type="submit" value="comenzar">
      </form>
    </body>
</html>