<!DOCTYPE html>
<html>
<head>

    <title>Page Title</title>

    <script src="mover.js"></script>
    <link rel="stylesheet" type="text/css"  href="auto.css" />

</head>
    <body>

      <h1> bienvenido jugador <%=@nombre%> </h1>
      <h2> tamaño de tablero </h2>
      <form method='post' action='/ajustes'>
           ingresar altura:<input type='text' name='altura' value="5">
           ingresar ancho:<input type='text' name='ancho' value="7">
           ingresar cantidad de jugadores:<input type='text' name='cantidadAutos'placeholder="de 1 a 5 autos">
           
           <input type="submit" value="comenzar">
      </form>
    </body>
</html>